In [1]:
from os import listdir
from os.path import isfile, join
import re
import csv
import numpy as np
import logging
import os
import pandas as pd 
import sys
import random
import math
import warnings
import dataframe_image as dfi
import matplotlib.pyplot as plt
import numpy as np

from outletsBiasRatings import outletsBiasRatingsAllSides, outletAbbreviationToFullName 

outletsBiasRatings = outletsBiasRatingsAllSides
outlets = list(outletsBiasRatings.keys())

startYear=2000
endYear = 2019
years = list(range(startYear,endYear+1))
print(len( outlets ))
print(outlets)
print(years)

47
['alternet', 'democracynow', 'db', 'hp', 'theintercept', 'jacobin', 'motherjones', 'thenewyorker', 'thenation', 'slate', 'vox', 'cnn', 'nyt', 'abcnews', 'theatlantic', 'buzzfeed', 'cbs', 'economist', 'guardian', 'nbcnews', 'politico', 'timemagazine', 'wp', 'npr', 'ap', 'bbc', 'bloomberg', 'csm', 'reuters', 'thehill', 'usatoday', 'wsj', 'reason', 'we', 'wt', 'fox', 'americanspectator', 'bre', 'theblaze', 'cbn', 'dailycaller', 'dailymail', 'dailywire', 'thefederalist', 'nationalreview', 'nyp', 'newsmax']
[2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]

In [2]:
numberOfArticles = {}
for outlet in outlets:
    print( outlet, end=' ')
    numberOfArticles[outlet]={}
    filePath = os.path.normpath(f'./headlinesData/{outlet}') 
    for year in  years:
        yearFilePath = os.path.join(filePath, str(year)+'.csv') 
        try:
            df = pd.read_csv(yearFilePath)
        except: #no data
#             print(" exception raised by ", outlet, year)
            continue
        numberOfArticles[outlet][year]=df.shape[0] #Number of rows in data frame

alternet democracynow db hp theintercept jacobin motherjones thenewyorker thenation slate vox cnn nyt abcnews theatlantic buzzfeed cbs economist guardian nbcnews politico timemagazine wp npr ap bbc bloomberg csm reuters thehill usatoday wsj reason we wt fox americanspectator bre theblaze cbn dailycaller dailymail dailywire thefederalist nationalreview nyp newsmax

In [3]:
numberOfArticles

{'alternet': {2012: 192,
  2013: 344,
  2014: 2725,
  2015: 3645,
  2016: 3731,
  2017: 2851,
  2018: 3759,
  2019: 4685},
 'democracynow': {2000: 720,
  2001: 881,
  2002: 726,
  2003: 931,
  2004: 920,
  2005: 814,
  2006: 780,
  2007: 833,
  2008: 908,
  2009: 980,
  2010: 1029,
  2011: 1221,
  2012: 1126,
  2013: 1016,
  2014: 1045,
  2015: 1207,
  2016: 1391,
  2017: 1271,
  2018: 1118,
  2019: 1053},
 'db': {2008: 1379,
  2009: 8252,
  2010: 8401,
  2011: 9082,
  2012: 16982,
  2013: 15100,
  2014: 11483,
  2015: 10289,
  2016: 9437,
  2017: 9129,
  2018: 9966,
  2019: 10085},
 'hp': {2005: 3396,
  2006: 5401,
  2007: 2269,
  2008: 16639,
  2009: 19643,
  2010: 21312,
  2011: 31006,
  2012: 32432,
  2013: 31766,
  2014: 33967,
  2015: 31239,
  2016: 31806,
  2017: 30589,
  2018: 27019,
  2019: 24999},
 'theintercept': {2014: 322,
  2015: 996,
  2016: 1562,
  2017: 1804,
  2018: 2148,
  2019: 1626},
 'jacobin': {2011: 224,
  2012: 248,
  2013: 264,
  2014: 422,
  2015: 659,
  2016: 895,
  2017: 1066,
  2018: 1152,
  2019: 1788},
 'motherjones': {2000: 426,
  2001: 382,
  2002: 256,
  2003: 555,
  2004: 638,
  2005: 1018,
  2006: 2183,
  2007: 3291,
  2008: 3287,
  2009: 5858,
  2010: 6724,
  2011: 6059,
  2012: 5569,
  2013: 5008,
  2014: 4415,
  2015: 4390,
  2016: 5183,
  2017: 4870,
  2018: 5313,
  2019: 4150},
 'thenewyorker': {2000: 1002,
  2001: 718,
  2002: 693,
  2003: 774,
  2004: 725,
  2005: 791,
  2006: 904,
  2007: 935,
  2008: 1976,
  2009: 4337,
  2010: 4434,
  2011: 4671,
  2012: 4752,
  2013: 4565,
  2014: 4368,
  2015: 4119,
  2016: 4491,
  2017: 4527,
  2018: 4406,
  2019: 4047},
 'thenation': {2000: 584,
  2001: 900,
  2002: 1140,
  2003: 1271,
  2004: 1357,
  2005: 1454,
  2006: 2248,
  2007: 2416,
  2008: 2988,
  2009: 3215,
  2010: 2970,
  2011: 3707,
  2012: 3923,
  2013: 3436,
  2014: 3148,
  2015: 3059,
  2016: 2759,
  2017: 2602,
  2018: 2549,
  2019: 2630},
 'slate': {2000: 3516,
  2001: 3097,
  2002: 2948,
  2003: 2838,
  2004: 3020,
  2005: 3387,
  2006: 4228,
  2007: 4768,
  2008: 7259,
  2009: 7208,
  2010: 8006,
  2011: 9641,
  2012: 14019,
  2013: 15773,
  2014: 14499,
  2015: 14251,
  2016: 14571,
  2017: 11201,
  2018: 12354,
  2019: 8911},
 'vox': {2014: 12007,
  2015: 13636,
  2016: 13173,
  2017: 12095,
  2018: 10947,
  2019: 8676},
 'cnn': {2011: 7680,
  2012: 23172,
  2013: 19046,
  2014: 14357,
  2015: 21451,
  2016: 23255,
  2017: 25159,
  2018: 28871,
  2019: 37763},
 'nyt': {2000: 85433,
  2001: 86237,
  2002: 88739,
  2003: 85928,
  2004: 76335,
  2005: 45468,
  2006: 35080,
  2007: 44445,
  2008: 88704,
  2009: 90475,
  2010: 100392,
  2011: 94361,
  2012: 97914,
  2013: 86981,
  2014: 82443,
  2015: 70168,
  2016: 63984,
  2017: 56331,
  2018: 54219,
  2019: 47251},
 'abcnews': {2000: 22,
  2001: 51,
  2002: 36,
  2003: 16,
  2004: 35,
  2005: 28,
  2006: 58,
  2007: 388,
  2008: 13163,
  2009: 29512,
  2010: 10865,
  2011: 12993,
  2012: 14780,
  2013: 11226,
  2014: 23130,
  2015: 25366,
  2016: 28825,
  2017: 20643,
  2018: 20507,
  2019: 83372},
 'theatlantic': {2000: 205,
  2001: 446,
  2002: 523,
  2003: 439,
  2004: 695,
  2005: 509,
  2006: 5255,
  2007: 16575,
  2008: 24398,
  2009: 27161,
  2010: 32943,
  2011: 31264,
  2012: 27783,
  2013: 23664,
  2014: 17935,
  2015: 12320,
  2016: 9786,
  2017: 16131,
  2018: 14061,
  2019: 5128},
 'buzzfeed': {2006: 62,
  2007: 542,
  2008: 525,
  2009: 415,
  2010: 410,
  2011: 628,
  2012: 4789,
  2013: 7915,
  2014: 8434,
  2015: 11981,
  2016: 11382,
  2017: 9839,
  2018: 9714,
  2019: 5709},
 'cbs': {2000: 13322,
  2001: 7041,
  2002: 11638,
  2003: 14477,
  2004: 14669,
  2005: 15625,
  2006: 19351,
  2007: 33194,
  2008: 44164,
  2009: 43916,
  2010: 46805,
  2011: 49514,
  2012: 41848,
  2013: 35042,
  2014: 30428,
  2015: 35113,
  2016: 31282,
  2017: 27890,
  2018: 24640,
  2019: 18548},
 'economist': {2000: 3819,
  2001: 3887,
  2002: 3640,
  2003: 3650,
  2004: 3671,
  2005: 3799,
  2006: 3792,
  2007: 3962,
  2008: 4146,
  2009: 4103,
  2010: 3897,
  2011: 3534,
  2012: 3869,
  2013: 3804,
  2014: 3825,
  2015: 3647,
  2016: 3660,
  2017: 3665,
  2018: 3691,
  2019: 3534},
 'guardian': {2000: 46292,
  2001: 53796,
  2002: 60902,
  2003: 63112,
  2004: 67782,
  2005: 69923,
  2006: 78431,
  2007: 91528,
  2008: 101863,
  2009: 107136,
  2010: 60762,
  2011: 96778,
  2012: 96980,
  2013: 103421,
  2014: 112788,
  2015: 118098,
  2016: 106371,
  2017: 78987,
  2018: 76676,
  2019: 69625},
 'nbcnews': {2014: 34791,
  2015: 28518,
  2016: 23328,
  2017: 17584,
  2018: 15993,
  2019: 15982},
 'politico': {2008: 3,
  2009: 69,
  2010: 77,
  2011: 122,
  2012: 1068,
  2013: 1861,
  2014: 3084,
  2015: 4467,
  2016: 5290,
  2017: 8207,
  2018: 6311,
  2019: 5591},
 'timemagazine': {2010: 10,
  2011: 44,
  2012: 54,
  2013: 129,
  2014: 25924,
  2015: 28679,
  2016: 25052,
  2017: 16584,
  2018: 10278,
  2019: 7422},
 'wp': {2000: 50571,
  2001: 60850,
  2002: 61331,
  2003: 61318,
  2004: 61122,
  2005: 60830,
  2006: 52737,
  2007: 36000,
  2008: 30234,
  2009: 30344,
  2010: 34509,
  2011: 61344,
  2012: 71979,
  2013: 53041,
  2014: 59930,
  2015: 61446,
  2016: 61373,
  2017: 59957,
  2018: 58409,
  2019: 54626},
 'npr': {2000: 62,
  2001: 62,
  2002: 1148,
  2003: 6362,
  2004: 11403,
  2005: 14402,
  2006: 14331,
  2007: 15817,
  2008: 16012,
  2009: 14168,
  2010: 15687,
  2011: 18713,
  2012: 18540,
  2013: 19525,
  2014: 18600,
  2015: 17695,
  2016: 17816,
  2017: 17493,
  2018: 34179,
  2019: 16432},
 'ap': {2010: 210,
  2011: 203,
  2012: 903,
  2013: 31329,
  2014: 42945,
  2015: 39704,
  2016: 67601,
  2017: 77396,
  2018: 81389,
  2019: 98588},
 'bbc': {2010: 68384,
  2011: 128178,
  2012: 129375,
  2013: 127472,
  2014: 116507,
  2015: 108316,
  2016: 101869,
  2017: 93545,
  2018: 86932,
  2019: 78756},
 'bloomberg': {2000: 3684,
  2001: 11787,
  2002: 10541,
  2003: 9502,
  2004: 8915,
  2005: 8623,
  2006: 13618,
  2007: 10553,
  2008: 12804,
  2009: 8431,
  2010: 33053,
  2011: 37864,
  2012: 49663,
  2013: 52201,
  2014: 50770,
  2015: 53177,
  2016: 49773,
  2017: 49909,
  2018: 44491,
  2019: 38142},
 'csm': {2000: 9624,
  2001: 8871,
  2002: 8523,
  2003: 8100,
  2004: 7729,
  2005: 7513,
  2006: 7188,
  2007: 7426,
  2008: 10192,
  2009: 12318,
  2010: 17775,
  2011: 16910,
  2012: 19875,
  2013: 19739,
  2014: 18895,
  2015: 18803,
  2016: 16094,
  2017: 6158,
  2018: 4001,
  2019: 3255},
 'reuters': {2007: 258410,
  2008: 273353,
  2009: 280649,
  2010: 283957,
  2011: 295209,
  2012: 292013,
  2013: 236140,
  2014: 245966,
  2015: 122490,
  2016: 253786,
  2017: 372744,
  2018: 256132,
  2019: 176513},
 'thehill': {2005: 1394,
  2006: 2885,
  2007: 9351,
  2008: 12910,
  2009: 21463,
  2010: 28387,
  2011: 32059,
  2012: 31518,
  2013: 32010,
  2014: 32651,
  2015: 34836,
  2016: 42217,
  2017: 49762,
  2018: 48215,
  2019: 46638},
 'usatoday': {2012: 19073,
  2013: 78926,
  2014: 112822,
  2015: 115761,
  2016: 114685,
  2017: 106852,
  2018: 99997,
  2019: 89934},
 'wsj': {2000: 46155,
  2001: 43123,
  2002: 41416,
  2003: 37871,
  2004: 37751,
  2005: 38251,
  2006: 39449,
  2007: 40885,
  2008: 49159,
  2009: 52389,
  2010: 60216,
  2011: 63649,
  2012: 59091,
  2013: 59048,
  2014: 59965,
  2015: 54211,
  2016: 51896,
  2017: 40322,
  2018: 34000,
  2019: 32838},
 'reason': {2000: 371,
  2001: 371,
  2002: 511,
  2003: 1443,
  2004: 1645,
  2005: 1543,
  2006: 1657,
  2007: 1721,
  2008: 1851,
  2009: 1943,
  2010: 2093,
  2011: 2038,
  2012: 3257,
  2013: 3968,
  2014: 3484,
  2015: 3073,
  2016: 2606,
  2017: 1928,
  2018: 1880,
  2019: 1684},
 'we': {2006: 17496,
  2007: 26576,
  2008: 27544,
  2009: 30020,
  2010: 31066,
  2011: 34180,
  2012: 80729,
  2013: 67847,
  2014: 87579,
  2015: 30264,
  2016: 39125,
  2017: 40344,
  2018: 36912,
  2019: 30308},
 'wt': {2000: 10628,
  2001: 17685,
  2002: 23882,
  2003: 27101,
  2004: 25325,
  2005: 25819,
  2006: 27200,
  2007: 22892,
  2008: 30283,
  2009: 44691,
  2010: 33868,
  2011: 48984,
  2012: 55607,
  2013: 38489,
  2014: 339728,
  2015: 322429,
  2016: 282629,
  2017: 251372,
  2018: 223214,
  2019: 220283},
 'fox': {2008: 1824,
  2009: 6767,
  2010: 55986,
  2011: 89696,
  2012: 130920,
  2013: 77158,
  2014: 128179,
  2015: 170104,
  2016: 151953,
  2017: 160103,
  2018: 102152,
  2019: 83810},
 'americanspectator': {2002: 123,
  2003: 128,
  2004: 124,
  2005: 346,
  2006: 455,
  2007: 46,
  2008: 34,
  2009: 112,
  2010: 90,
  2011: 187,
  2012: 224,
  2013: 86,
  2014: 203,
  2015: 1242,
  2016: 2591,
  2017: 1839,
  2018: 1540,
  2019: 1860},
 'bre': {2009: 9866,
  2010: 14185,
  2011: 17146,
  2012: 24183,
  2013: 32330,
  2014: 39110,
  2015: 41607,
  2016: 44330,
  2017: 41788,
  2018: 39484,
  2019: 36712},
 'theblaze': {2015: 16286, 2016: 13889, 2017: 13349, 2018: 10387, 2019: 9247},
 'cbn': {2010: 5,
  2011: 1,
  2012: 2,
  2013: 5,
  2014: 2141,
  2015: 1736,
  2016: 3185,
  2017: 5390,
  2018: 5725,
  2019: 4679},
 'dailycaller': {2010: 26655,
  2011: 18070,
  2012: 16985,
  2013: 16566,
  2014: 19491,
  2015: 22844,
  2016: 34141,
  2017: 39345,
  2018: 37761,
  2019: 29966},
 'dailymail': {2000: 12648,
  2001: 14134,
  2002: 13301,
  2003: 13283,
  2004: 11124,
  2005: 7913,
  2006: 6479,
  2007: 7316,
  2008: 62728,
  2009: 86447,
  2010: 101689,
  2011: 127921,
  2012: 168229,
  2013: 181789,
  2014: 224410,
  2015: 251306,
  2016: 278018,
  2017: 285463,
  2018: 274376,
  2019: 268427},
 'dailywire': {2015: 1986, 2016: 8865, 2017: 11681, 2018: 12620, 2019: 11367},
 'thefederalist': {2013: 311,
  2014: 1668,
  2015: 2767,
  2016: 3590,
  2017: 3816,
  2018: 4001,
  2019: 4042},
 'nationalreview': {2009: 31001,
  2010: 33642,
  2011: 28092,
  2012: 22924,
  2013: 20496,
  2014: 18977,
  2015: 14073,
  2016: 11981,
  2017: 9928,
  2018: 10061,
  2019: 10681},
 'nyp': {2000: 27520,
  2001: 28103,
  2002: 28676,
  2003: 30436,
  2004: 31409,
  2005: 30478,
  2006: 29906,
  2007: 34843,
  2008: 38651,
  2009: 53173,
  2010: 53290,
  2011: 58249,
  2012: 56253,
  2013: 48793,
  2014: 40889,
  2015: 40756,
  2016: 43791,
  2017: 54921,
  2018: 56653,
  2019: 59616},
 'newsmax': {2007: 1215,
  2008: 4770,
  2009: 10787,
  2010: 36772,
  2011: 38399,
  2012: 38369,
  2013: 40743,
  2014: 48376,
  2015: 35448,
  2016: 26217,
  2017: 39148,
  2018: 32840,
  2019: 18631}}

## Total number of  headlines per outlet for a specified time frame

In [4]:
for outlet in numberOfArticles:
    print(outlet, sum(numberOfArticles[outlet].values()))
maxNumberOfArticles = max([sum(numberOfArticles[outlet].values()) for outlet in numberOfArticles])
outletWithMaxNumberOfArticles = outlets[[sum(numberOfArticles[outlet].values()) for outlet in numberOfArticles].index(maxNumberOfArticles)]
minNumberOfArticles = min([sum(numberOfArticles[outlet].values()) for outlet in numberOfArticles])
outletWithMinNumberOfArticles = outlets[[sum(numberOfArticles[outlet].values()) for outlet in numberOfArticles].index(minNumberOfArticles)]
averageNumberOfArticles = sum([sum(numberOfArticles[outlet].values()) for outlet in numberOfArticles])/len(numberOfArticles.keys())
print("max",maxNumberOfArticles,outletWithMaxNumberOfArticles)
print("min",minNumberOfArticles,outletWithMinNumberOfArticles)
print("average",averageNumberOfArticles)

alternet 21932
democracynow 19970
db 119585
hp 343483
theintercept 8458
jacobin 6718
motherjones 69575
thenewyorker 57235
thenation 48356
slate 165495
vox 70534
cnn 200754
nyt 1480888
abcnews 295016
theatlantic 267221
buzzfeed 72345
cbs 558507
economist 75595
guardian 1661251
nbcnews 136196
politico 36150
timemagazine 114176
wp 1081951
npr 288447
ap 440268
bbc 1039334
bloomberg 557501
csm 228989
reuters 3347362
thehill 426296
usatoday 738050
wsj 941685
reason 39067
we 579990
wt 2072109
fox 1158652
americanspectator 11230
bre 340741
theblaze 63158
cbn 22869
dailycaller 261824
dailymail 2397001
dailywire 46519
thefederalist 20195
nationalreview 211856
nyp 846406
newsmax 371715
max 3347362 reuters
min 6718 jacobin
average 497077.7659574468

## Total number of articles overall

In [5]:
sum([sum(numberOfArticles[outlet].values()) for outlet in numberOfArticles])

23362655

## Total number of articles per year

In [9]:
nHeadlinesList=[]
for year in years:
    nHeadlines=0
    for outlet in outlets:
        try:
            nHeadlines+=numberOfArticles[outlet][year]
        except:
            continue
    print( year, nHeadlines)
    nHeadlinesList.append(nHeadlines)

2000 316604
2001 342422
2002 360693
2003 369535
2004 366394
2005 343324
2006 371174
2007 678197
2008 883751
2009 1046849
2010 1240556
2011 1479621
2012 1681212
2013 1608373
2014 2158826
2015 2029658
2016 2145235
2017 2197578
2018 1943043
2019 1799610

In [16]:
df=pd.DataFrame(nHeadlinesList,index = years,columns=[r"Number of headlines"])
dfi.export(df,"../manuscript/figures/sm/numberOfHeadlinesPerYear.png")
df

      Number of headlines
2000               316604
2001               342422
2002               360693
2003               369535
2004               366394
2005               343324
2006               371174
2007               678197
2008               883751
2009              1046849
2010              1240556
2011              1479621
2012              1681212
2013              1608373
2014              2158826
2015              2029658
2016              2145235
2017              2197578
2018              1943043
2019              1799610

## Outlets with data since 2000

In [12]:
outletsWithDataSince2000=[]
for outlet in outlets:
    if 2000 in numberOfArticles[outlet]:
        outletsWithDataSince2000.append(outlet)
print(len(outletsWithDataSince2000),outletsWithDataSince2000)

20 ['democracynow', 'motherjones', 'thenewyorker', 'thenation', 'slate', 'nyt', 'abcnews', 'theatlantic', 'cbs', 'economist', 'guardian', 'wp', 'npr', 'bloomberg', 'csm', 'wsj', 'reason', 'wt', 'dailymail', 'nyp']

In [7]:
outlets=outletsWithDataSince2000
numberOfArticles = {}
for outlet in outlets:
    print( outlet, end=' ')
    numberOfArticles[outlet]={}
    filePath = os.path.normpath(f'./headlinesData/{outlet}') 
    for year in  years:
        yearFilePath = os.path.join(filePath, str(year)+'.csv') 
        try:
            df = pd.read_csv(yearFilePath)
        except: 
#             print(" exception raised by ", outlet, year)
            continue
        numberOfArticles[outlet][year]=df.shape[0] #Number of rows in data frame

democracynow motherjones thenewyorker thenation slate nyt abcnews theatlantic cbs economist guardian wp npr bloomberg csm wsj reason wt dailymail nyp

In [8]:
sum([sum(numberOfArticles[outlet].values()) for outlet in numberOfArticles])

13152265

## Total number of articles per year

In [14]:
for year in years:
    nHeadlines=0
    for outlet in outletsWithDataSince2000:
        try:
            nHeadlines+=numberOfArticles[outlet][year]
        except:
            continue
    print( year, nHeadlines)

2000 316604
2001 342422
2002 360570
2003 369407
2004 366270
2005 338188
2006 344875
2007 379788
2008 544770
2009 627805
2010 631007
2011 749415
2012 815057
2013 770529
2014 1114695
2015 1114634
2016 1076299
2017 995641
2018 950737
2019 943552